html, body {
    height: 100%; /* full viewport height */
    margin: 0;    /* reset default margin */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-shadow {
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
}

#mainContent {
    flex-grow: 1;
    background-image: url('../images/warsaw.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#loginForm,
#registerForm {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 1000;
    padding: 2rem;
    width: 100%;
    max-width: 400px;

    background: #e6e6e6;
    border-radius: 0.75rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0,0,0,0.1);
}

.section-heading {
    color: #1f2937; /* Tailwind's text-gray-800 */
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fde047; /* bg-yellow-300 */
    border-radius: 0.5rem; /* rounded-lg */
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind shadow */
}

.project-card {
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure consistent height if needed */
}

.project-card:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.project-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #2563eb;
    margin-bottom: 0.5rem;
}

.project-description {
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.75rem;
}

.project-link {
    color: #1d4ed8;
    font-weight: 600;
    text-decoration: none;
    margin-top: auto; /* Pushes it to the bottom */
}
.project-link:hover {
    text-decoration: underline;
}

.current-user-comment {
    text-decoration: underline;
    font-weight: bold;
    color: #2563eb !important;
}